<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script th:src="@{/js/basket.js}"></script>
</head>
<body>
<h1>Application</h1>

<h2>User products</h2>
<div id="basket">
    <ul>
        <template id="basket-element">
            <li>
                <span class="name"></span>
                <a href="#" class="remove" data-item-id="">X</a>
            </li>
        </template>
    </ul>
</div>

<h2>Add product to list</h2>
<div id="products">
    <ul>
        <li th:each="food : ${foods}">
            <span th:text="${food.description}"></span>
            <a href="#" class="add" th:attr="data-fdc-id=${food.fdcId}">[+]</a>
        </li>
    </ul>
</div>

</body>
</html>